html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 26px;
  text-align: center;
  margin: 0;
  padding: 10px 0 10px;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}
#map {
  bottom:0px;
  height: 90%;
  position: absolute;
  width: 80%;
}
.place-listings {
  width: 20%;
  float: right;
}
.place-listings #form {
  padding-left: 20px;
}
#filter-text {
  width: 90%;
}
ul.place-list {
  list-style: none;
  padding: 0;
  width: 90%;
  height: 498px;
  overflow-y: scroll;
}
ul.place-list li {
  margin: 0;
  padding: 3px 0 5px 0;
  border-bottom: 1px solid #ccc;
  color: #666;
}
ul.place-list li img {
  width: 20px;
  height: 20px;
}
.place-name {
  cursor: pointer;
}
.modal-body {
  height: 400px;
}
#info-wrapper {
  display: flex;
  flex-direction: row;
}
#services {
  padding: 70px 0 0 20px;
}