html,
body {
  font-family: Lato, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
}

input {
  font-size: 12px;
}
header, aside {
  background-color: #565050;
  color: #fff;
}

h1 {
  font-size: 26px;
  text-align: center;
  margin: 0;
  padding: 10px 0 10px;
}

hr {
  margin: 0 0 10px 0;
}
#map {
  bottom:0;
  height: 92.6%;
  position: absolute;
  width: 80%;
}
.place-listings {
  width: 20%;
  float: right;
}
.place-listings #form {
  background-color: black;
  padding: 0.5px 0 0.25px 20px;
}
#filter-text {
  width: 90%;
  color: black;
}
ul.place-list {
  list-style: none;
  padding: 0;
  width: 90%;
}
#list-container {
  position: relative;
  overflow: auto;
}
ul.place-list li {
  margin: 0;
  padding: 3px 0 5px 0;
  border-bottom: 1px solid #ccc;
}
ul.place-list li img {
  width: 20px;
  height: 20px;
}
.place-name {
  cursor: pointer;
}
.modal-body {
  height: 400px;
}
#googleReviews, #wikipediaInfo, #fourSquareReviews {
  height: 400px;
  overflow-y: auto;
}
#info-wrapper {
  display: flex;
  flex-direction: row;
}
#services {
  padding: 70px 0 0 20px;
}
.review-img {
  width: 500px;
  height: 200px;
  padding-bottom: 5px;
}
#googleStreetView {
  position: static !important;
}
.hide {
  display: none;
}